@font-face {
  font-family: "LgRegular";
  src: url("media/fonts/LabGrotesque-Regular.ttf") format("ttf")
}

@font-face {
  font-family: "LgLight";
  src: url("media/fonts/LabGrotesque-Light.ttf") format("ttf")
}

body {
  margin: 0;
  font-family: LgRegular, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(255.35deg, #DC3131 0.83%, rgba(255, 79, 79, 0) 108.93%), #FF5E56;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  padding: 0;
}

input {
  outline: none;
}
